/* App.css */

/* General styles */
body {
    background-color: #121212;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

/* Center the main app container */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 20px;
}

/* Container for the select and button */
.control-panel {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Common styles for select and button */
.control-element {
    height: 40px; /* Adjust height as needed */
    font-size: 16px;
    border-radius: 4px;
    padding: 0 10px; /* Horizontal padding */
    border: 2px solid #00ff00;
    outline: none;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1; /* Ensure line height doesn't affect centering */
    margin-bottom: 0.5em;
}

/* Select dropdown styles */
#test-select {
    background-color: #000000;
    color: #00ff00;
}

#test-select:disabled {
    background-color: #444444;
    color: #777777;
    cursor: not-allowed;
}

#test-select:hover {
    background-color: #222222;
}

/* Button styles */
.start-test-button,
.stop-test-button {
    background-color: #000000;
    color: #00ff00;
    font-weight: bold;
    cursor: pointer;
}

.start-test-button:hover,
.stop-test-button:hover {
    background-color: #1e1e1e;
    color: #00ff00;
}

.start-test-button:disabled,
.stop-test-button:disabled {
    background-color: #444444;
    color: #777777;
    cursor: not-allowed;
}

/* Result modal styles */
.result-modal {
    background-color: #000000;
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
}
